.card {
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-image{
    max-width: 60%;
    border-radius: 4px; 
    margin: 5% 20%;
}

.card-details {
  display: flex;
  justify-content: space-between;
}

.card-button {
  display: inline-block;
  background-color: none;
  border: none;
 padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
